body {
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: max-content;
    border: solid 1px rgb(151, 151, 151);
    border-radius: 5px;
    padding: 40px;
}

.text-primary {
    color: #007bff; 
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
